<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService_Dagorlad" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService_Dagorlad" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/Dagorlad" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService_Dagorlad"
                contract="IService_Dagorlad" name="BasicHttpBinding_IService_Dagorlad" />
            <endpoint address="net.tcp://localhost:9002/Dagorlad" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService_Dagorlad" contract="IService_Dagorlad"
                name="NetTcpBinding_IService_Dagorlad">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-2B0D506" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>