<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dagorlad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Dagorlad.Properties.Settings>
            <setting name="a_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="a_Interval" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="FolderDestination" serializeAs="String">
                <value>(Нажмите для изменения)</value>
            </setting>
            <setting name="OnOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0;0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ResourcesList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0;0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="onMusic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isInvertTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isTurnOnScript" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="perhabsemail" serializeAs="String">
                <value />
            </setting>
            <setting name="perhabsfio" serializeAs="String">
                <value />
            </setting>
        </Dagorlad.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService_Dagorlad">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IService_Dagorlad1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9002/Dagorlad" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService_Dagorlad" contract="ServiceReference1.IService_Dagorlad"
                name="NetTcpBinding_IService_Dagorlad">
                <identity>
                    <servicePrincipalName value="host/krislechy" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9002/Dagorlad" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService_Dagorlad1" contract="ServiceReference1.IService_Dagorlad"
                name="NetTcpBinding_IService_Dagorlad1">
                <identity>
                    <servicePrincipalName value="host/krislechy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>